.navbar {
    background-color: #333;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .navbar a {
    font-size: 16px;
    color: rgb(253, 252, 252);
    text-decoration: none;
  }
  .navbar a:hover, .navbar .dropbtn:hover {
    color: hsl(0, 20%, 79%);
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #f9f9f9;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown_content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown_content {
    display: block;
  }
  
  .dropdown_content a:hover {
    background-color: #ddd;
  }
  
  .navbar li {
    display: grid;
    grid-template-columns: auto auto; /* Allocate space for text and image */
    align-items: center;
  }

  img.user_icon_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: black 1px solid;
    margin-left: 5px;
  }